# Analyzing Los Angeles Crimes from 2020 to 2024

### Import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Import Dataset

In [3]:
df = pd.read_csv('LA_Crime_2020_2024.csv')

In [4]:
df.shape

(326478, 11)

In [5]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Vict Age', 'Vict Sex', 'Weapon Used Cd', 'LAT', 'LON'],
      dtype='object')

In [6]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Vict Age,Vict Sex,Weapon Used Cd,LAT,LON
0,211904005,12/31/2020 12:00:00 AM,12/31/2020 12:00:00 AM,1220,19,Mission,26,M,400.0,34.2336,-118.4535
1,221908151,04/12/2022 12:00:00 AM,10/01/2020 12:00:00 AM,1,19,Mission,8,F,400.0,34.2285,-118.4258
2,230204214,01/05/2023 12:00:00 AM,02/01/2020 12:00:00 AM,800,2,Rampart,7,F,400.0,34.0868,-118.2991
3,210705560,11/27/2020 12:00:00 AM,11/27/2020 12:00:00 AM,1800,7,Wilshire,31,F,307.0,34.0452,-118.3351
4,231907172,03/21/2023 12:00:00 AM,03/15/2020 12:00:00 AM,1200,19,Mission,12,F,400.0,34.2246,-118.4654

### Handling Missing Values

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326478 entries, 0 to 326477
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           326478 non-null  int64
 1   Date Rptd       326478 non-null  object
 2   DATE OCC        326478 non-null  object
 3   TIME OCC        326478 non-null  int64
 4   AREA            326478 non-null  int64
 5   AREA NAME       326478 non-null  object
 6   Vict Age        326478 non-null  int64
 7   Vict Sex        326478 non-null  object
 8   Weapon Used Cd  326478 non-null  float64
 9   LAT             326478 non-null  float64
 10  LON             326478 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 27.4+ MB

### Rename the columns

In [9]:
df.rename(columns={'Date Rptd': 'Date_reported', 'DATE OCC':'Date_occured', 'TIME OCC': 'Time_occured', 'AREA': "Area_code", 
                   'AREA NAME': 'Area_name', "Vict Age": 'Victime_age', 'Vict Sex': 'Victime_sex', 'Weapon Used Cd': 'Weapon_used_code',
                    'LAT': "Latitude", "LON": 'Longitude' }, inplace=True)

### what is the time with the highest number of crimes?

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326478 entries, 0 to 326477
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   DR_NO             326478 non-null  int64
 1   Date_reported     326478 non-null  object
 2   Date_occured      326478 non-null  object
 3   Time_occured      326478 non-null  int64
 4   Area_code         326478 non-null  int64
 5   Area_name         326478 non-null  object
 6   Victime_age       326478 non-null  int64
 7   Victime_sex       326478 non-null  object
 8   Weapon_used_code  326478 non-null  float64
 9   Latitude          326478 non-null  float64
 10  Longitude         326478 non-null  float64
dtypes: float64(3), int64(4), object(4)
memory usage: 27.4+ MB